<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="author" content="Fabiano da Rosa Gomes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Ysto Home Automation</title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
    <link rel="icon" type="image/png" href="static/img/favicon.png">

</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row" style="margin-top: 10%">
                <a href="#" style="text-decoration: none;" @click="currentView='dash'"><h4>Ysto Home Automation</h4></a>
            </div>
            <hr>
                <component :is="currentView"></component>
            <hr>
            <p style="text-align: center">&copy; 2017 Fabiano da Rosa Gomes</p>
        </div>
    </div>

    <script src="static/lib/vue.js"></script>
    <script src="static/main.js"></script>
</body>

</html>
